In [10]:
import numpy as np
import pandas as pd

commento

In [ ]:
a = "ahah"
b = 'gddj'

print(type(a))
print(type(b))

In [ ]:
a = 3
b = 3
a = c

print(id(a))
print(id(b))
print(id(c))

print(a is b)
print(a is c)

print(a)
print(b)
print(c)

In [ ]:
dir(list)

In [ ]:
dir(int)

In [ ]:
n = 2

print(n.imag)

In [ ]:
def func(n):
    return lambda a : a * n

print(type(func(3)))

In [ ]:
func(3)(2)

In [ ]:
def f(x):
    x = x+1

a = 3
f(a)
print(a)

In [ ]:
s = "ciao"
print(s[len(s)-1:0:-1])

In [ ]:
# swap di due variabili (in questo caso x e y): capire perché funziona
# ottengo lo stesso risultato (con un'efficienza leggermente superiore) usando x, y = y, x


x = [1, 2, 4]
y = [4, 5, 6]
z = [2, 5, 4]

z = y
y = x
x = z

print(x)
print(y)
print(z, '\n')

z = y
y = x
x = z

print(x)
print(y)
print(z, '\n')

z = y
y = x
x = z

print(x)
print(y)
print(z)

In [ ]:
lll = [1, 2, 3]
print(lll[-1])

sss = set([1, 3, 2])
print(sss)

sss.add(4)
print(sss)

In [ ]:
ll = [x for x in range(1, 10) if x%2==0]
print(ll)

In [ ]:
def hello(a, b): return a+b

hello(2, 3)

In [ ]:
def sum(x, y):
    return x+y

def modifier(g):
    def wrapper(*args, **kwargs):
        return g(*args, **kwargs)+1
    return wrapper

modified_sum=modifier(sum)

@modifier
def sum2(x, y):
    return x+y


print(modified_sum(1, 2))
print(sum2(1, 2))

In [ ]:
def funz(a, b):
    return a+b, a-b, a*b

print(funz(b=2, a=3))
print(type(funz(b=2, a=3)))

In [25]:
arr2 = np.array([[1,2],[3,4]])
print(arr2)
print(arr2.shape)

[[1 2]
 [3 4]]
(2, 2)

In [ ]:
class naclasse:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        print("noggeto creato")

    def __str__(self):
        return "pippo"


k = naclasse(5, "ciao")

print(k)
print(k.a, k.b)

In [ ]:
def mod(f):
    def wrapper(*args, **kwargs):
        print("prova")
        return f(*args, **kwargs)
    return wrapper

@mod
def sissi(x, y):
    print(x, y)


sissi("ciao", [1, 2, 3])

In [ ]:
ppp = np.empty(10)
print(ppp)

In [31]:
A=np.linspace(0,10,9).reshape(3,3)
print(A)
print(np.argmax(A))

[[ 0.    1.25  2.5 ]
 [ 3.75  5.    6.25]
 [ 7.5   8.75 10.  ]]
8

In [32]:
A=np.array(range(0,900)).reshape(30,30)
B=np.array(range(34,934)).reshape(30,30)

In [33]:
%%timeit
np.matmul(A,B)

29.9 µs ± 1.47 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [34]:
A=[[x for x in range(30)] for i in range(30)]
B=[[x+34 for x in range(30)] for i in range(30)]

In [35]:
%%timeit
np.matmul(A,B)

176 µs ± 9.94 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [1]:
x = 1

if x==0:
    print('x is zero')
elif x>0:
    print('x is greater then zero')
elif x<0:
    print('x is smaller than zero')

x is greater then zero

In [3]:
class MySecondClass:
    def __init__(self, number):
        self.number = number

a=MySecondClass(4)

In [5]:
t = tuple(range(10))
t[5]=100
print(t[5])

In [1]:
my_dict3 = dict([(1,2),(3,4),(5,6)])
print(my_dict3)

{1: 2, 3: 4, 5: 6}

In [4]:
my_dict2 = dict(name = "Cat", age = 177, country = "Neverland")
my_dict2.get("name"), my_dict2["name"]

('Cat', 'Cat')

In [8]:
my_dict4=my_dict2
my_dict4["name"]="Dog"
my_dict2

{'name': 'Dog', 'age': 177, 'country': 'Neverland'}

In [16]:
mydict = {"key1": [888, 11], "key2": [123, 12], "key3": [777, 23]}
myvar = pd.Series(mydict)

print(myvar)

key1    [888, 11]
key2    [123, 12]
key3    [777, 23]
dtype: object

In [15]:
dit = {"ke1": [1, 2, 3], "ke2": [4, 5, 6]}
type(dit)

dict

In [21]:
df = pd.DataFrame({"pippo": [1, 2, 3, 4, 5, 6], "titto": [3, 4, 5, 6, 7, 8]})
df

   pippo  titto
0      1      3
1      2      4
2      3      5
3      4      6
4      5      7
5      6      8

In [26]:
df["pippo"],  df.iloc[1]

(0    1
 1    2
 2    3
 3    4
 4    5
 5    6
 Name: pippo, dtype: int64,
 '\n ',
 pippo    2
 titto    4
 Name: 1, dtype: int64)